@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.timeline-container {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}
.timeline-container:before { /*This is the line down the middle*/
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  width: 5px;
  height: 100%;
  background: #AA2020;
  z-index: 1
}
.timeline-block {
  width: -webkit-calc(50% + 24px);
  width: -moz-calc(50% + 24px);
  width: calc(50% + 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  float: left;
  direction: rtl
}
.marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #AA2020;
  background: #ffffff;
  margin-top: 10px;
  z-index: 9999
}
.timeline-content {
  width: 95%;
  padding: 0 20px;
  color:#ffffff
}
.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}
.timeline-content span {
  font-size: 15px;
  color: #ffffff;
}
.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .timeline-container:before {
     left: 22px;
     width: 5px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }
  .timeline-block-left {
     float: none;
     direction: ltr;
  }

}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #AA2020;
  opacity: 90%;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 640px) {
  .menu-icon {
    display: block;
  }
  nav a {
    display: none;
  }
  /* Afficher le menu déroulant lorsque l'icône de menu hamburger est cliquée */
  .menu-icon:focus ~ nav a {
    display: block;
  }
}

hr { text-align: center; 
  height: 4px; 
  background-color: #AA2020; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;} 

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: 4px ;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF201;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #121212;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}